# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Scikit-learn
4. Pandas

| Data Science Tools |
| ------------------- |
| Hadoop |
| TensorFlow.js |
| Jupyter Notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python:-
(7 - 6)
(18*24)

In [1]:
**This a simple arithmetic expression to mutiply then add integers**
num1 = 3
num2 = 4
num3 = 5
expression_result = (num1 * num2) + num3

SyntaxError: invalid syntax (4009127285.py, line 1)

**This a simple arithmetic expression to mutiply then add integers**
num1 = 3
num2 = 4
num3 = 5
expression_result = (num1 * num2) + num3

**This a simple arithmetic expression to mutiply then add integers**

In [2]:
num1 = 3
num2 = 4
num3 = 5
expression_result = (num1 * num2) + num3
print("Result:", expression_result)

Result: 17

 **This will convert 200 minutes to hours by diving by 60**

In [3]:
minutes = 200
hours = minute/60
print("200 minutes is equal to",hours,"hours")

NameError: name 'minute' is not defined

In [4]:
minutes = 200
hours = minutes/60
print("200 minutes is equal to",hours,"hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**

- List popular languages for Data Science.
- List tools for data science.
- List of data science libraries.

## Author
Shwetank Gaur